body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.wrap > * {
  flex: 1 1 auto;
}
main {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  background: #fff url("./assets/img/header-shapes\ mobile.svg") no-repeat
    center center;
  background-size: contain;
  margin-left: -1rem;
  margin-right: -1rem;
}
header.toolbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  height: 2rem;
}
header.toolbar h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #6070ff;
  text-align: left;
}
header.toolbar img {
  width: 1.875rem;
}
